<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MageStack\Integration\Model\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">MageStack\Integration\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">MageStack\Integration\Model\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">int_api.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/apis/api" xsi:type="string">id</item>
                <item name="/apis/api/endpoints/endpoint" xsi:type="string">id</item>
                <item name="/apis/api/websites/website" xsi:type="string">code</item>
                <item name="/apis/api/websites/website/endpoints/endpoint" xsi:type="string">id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MageStack\Integration\Model\IntegrationConfig">
        <arguments>
            <argument name="reader" xsi:type="object">MageStack\Integration\Model\Config\Reader</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="int_config" xsi:type="object">MageStack\Integration\Console\Command\ShowConfigs</item>
            </argument>
        </arguments>
    </type>
    <type name="MageStack\Integration\Model\Auth\AuthenticationPool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="no_auth" xsi:type="object">MageStack\Integration\Model\Auth\Pool\NoAuthProvider</item>
                <item name="bearer" xsi:type="object">MageStack\Integration\Model\Auth\Pool\BearerProvider</item>
            </argument>
        </arguments>
    </type>
    <preference
        for="MageStack\Integration\Api\Data\CredentialInterface"
        type="MageStack\Integration\Model\Credential"/>

    <preference
        for="MageStack\Integration\Api\CredentialRepositoryInterface"
        type="MageStack\Integration\Model\CredentialRepository"/>

    <preference
        for="MageStack\Integration\Api\Data\CredentialSearchResultsInterface"
        type="MageStack\Integration\Model\CredentialSearchResults"/>

    <!-- Integration Cache Type Start -->
    <type name="MageStack\Integration\Model\Cache\Type\Integration">
        <arguments>
            <argument name="cacheFrontendPool" xsi:type="object">Magento\Framework\App\Cache\Frontend\Pool</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Cache\TypeListInterface">
        <arguments>
            <argument name="typeList" xsi:type="array">
                <item name="integration_cache" xsi:type="string">MageStack\Integration\Model\Cache\Type\Integration</item>
            </argument>
        </arguments>
    </type>

    <type name="MageStack\Integration\Model\Cache\Repository">
        <arguments>
            <argument name="cacheFrontend" xsi:type="object">MageStack\Integration\Model\Cache\Type\Integration</argument>
        </arguments>
    </type>
    <!-- Integration Cache Type End -->
    <type name="Magento\Setup\Console\Command\DiCompileCommand">
        <plugin name="mgs_integration_refresh_on_di_compile" type="MageStack\Integration\Plugin\Setup\DiCompilePlugin" />
    </type>
    <!-- API Service Wiring -->
    <type name="MageStack\Integration\Model\Api\ResponseCacheRepository">
        <arguments>
            <argument name="cacheFrontend" xsi:type="object">MageStack\Integration\Model\Cache\Type\Integration</argument>
        </arguments>
    </type>
    <type name="MageStack\Integration\Model\Api\CacheManager">
        <arguments>
            <argument name="cacheRepository" xsi:type="object">MageStack\Integration\Model\Api\ResponseCacheRepository</argument>
        </arguments>
    </type>
    <type name="MageStack\Integration\Model\IntegrationApi">
        <arguments>
            <argument name="requestBuilderPool" xsi:type="object">MageStack\Integration\Model\Config\Pool\RequestBuilderPool</argument>
            <argument name="responseValidatorPool" xsi:type="object">MageStack\Integration\Model\Config\Pool\ResponseValidatorPool</argument>
            <argument name="responseHandlerPool" xsi:type="object">MageStack\Integration\Model\Config\Pool\ResponseHandlerPool</argument>
        </arguments>
    </type>
    <preference for="MageStack\Integration\Api\Data\ApiAttemptInterface" type="MageStack\Integration\Model\ApiAttempt" />
    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="mgs_integration_hide_menu_if_disabled" type="MageStack\Integration\Plugin\Admin\Menu\HideIfDisabled" />
    </type>
</config>