<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="MageStack_Integration::index_edit"
            title="API Configurations"
            module="MageStack_Integration"
            parent="MageStack_Core::root_menu"
            sortOrder="10"
            action="magestack_integration/credential/index"
            resource="MageStack_Integration::index_edit"/>
    </menu>
</config>