<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="MageStack::top_level" title="MageStack" module="MageStack_Integration" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="MageStack_Integration::index_edit" title="Api Configurations" module="MageStack_Integration" sortOrder="9999" resource="MageStack_Integration::index_edit" parent="MageStack::top_level" action="magestack_integration/credential/form"/>
	</menu>
</config>
